*.gem
.DS_Store
.idea/*
*.rbc
.bundle
.config
*_example.rb
*_test_it.rb
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
